<div id="characters-dropdown" class="z-10 hidden w-96 rounded-lg bg-white shadow dark:bg-gray-700">
    <div class="border-b-2 border-gray-200 p-3 dark:border-gray-600">
        <label for="search_characters_input" class="sr-only">
            Search
        </label>
        <div class="relative">
            <div class="pointer-events-none absolute inset-y-0 flex items-center rtl:inset-r-0 start-0 ps-3">
                <i class="bi bi-search text-gray-500 dark:text-gray-400"></i>
            </div>
            <input type="search"
                   id="search_characters_input"
                   class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2 text-sm text-gray-900 ps-10 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                   placeholder="{{ i18t('placeholder.search_character') }}"
                   oninput="filter_characters()"
            />
        </div>
    </div>

    <div id="characters">
        <ul class="h-96 gap-2 overflow-y-auto text-sm text-gray-700 dark:text-gray-200 [&>li]:border-t-2 [&>li:first-child]:border-t-0">
            {% for character in characters %}
            <li class="flex items-center ps-2 py-1 rounded-none hover:bg-gray-100 dark:hover:bg-gray-800 border-gray-300 dark:border-gray-600 cursor-pointer {% if character.in_upgrades %} character_in_upgrades {% endif %}"
                data-character="{{ character.id }}"
                data-type="character_list"
                data-cn_only="{% if character.cn_only %}1{% else %}0{% endif %}"
                hx-put="/upgrade/{{ character.id }}"
                hx-target="#upgrades_characters"
                hx-swap="beforeend"
                hx-on--after-request="add_selection_from_character_list('{{ character.id }}')"
            >
                <img src="/static/images/avatars/{{ character.id }}.png"
                     title="{{ character.get_name(language) }}"
                     alt="{{ character.get_name(language) }}"
                     class="h-16 w-auto"
                     loading="lazy"
                />
                <span class="pl-2"> {{ character.get_name(language) }} </span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="flex items-center rounded-b-lg border-t-2 border-gray-200 bg-gray-50 p-3 text-sm font-medium dark:border-gray-600 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600">
        <input id="show_cn_only_characters"
               type="checkbox"
               class="h-4 w-4 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
               onchange="filter_characters()"
        />
        <label for="show_cn_only_characters"
               class="w-full rounded py-2 text-sm font-medium text-gray-900 ms-2 dark:text-gray-300"
        >
            {{ i18t('button.show_cn_only_characters') }}
        </label>
    </div>
</div>
