<!doctype html>
<html lang="en" class="{{ config.theme() }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"/>

    <title>{{ i18t('Title') }}</title>

    <script>{{ get_file_content(js_dir("libs", "jquery.min.js"))|safe }}</script>
    <script>{{ get_file_content(js_dir("libs", "popperjs.min.js"))|safe }}</script>
    <script>{{ get_file_content(js_dir("libs", "toastify-js.min.js"))|safe }}</script>
    <script>{{ get_file_content(js_dir("libs", "tippy.min.js"))|safe }}</script>
    <script>{{ get_file_content(js_dir("libs", "htmx.min.js"))|safe }}</script>
    <script>{{ get_file_content(js_dir("libs", "idiomorph-ext.min.js"))|safe }}</script>
    <script>{{ get_file_content(js_dir("libs", "tailwind.min.js"))|safe }}</script>
    <script>{{ get_file_content(js_dir("libs", "flowbite.min.js"))|safe }}</script>
    <script>{{ get_file_content(js_dir("index.js"))|safe }}</script>

    <script>{{ get_file_content(js_dir("tailwind.js"))|safe }}</script>


    <style>{{ get_file_content(css_dir("libs", "bootstrap-icons.min.css"))|safe }}</style>
    <style>{{ get_file_content(css_dir("libs", "toastify-js.min.css"))|safe }}</style>
    <style>{{ get_file_content(css_dir("libs", "tippy.min.css"))|safe }}</style>
    <style>{{ get_file_content(css_dir("index.css"))|safe }}</style>

    <style type="text/tailwindcss">{{ get_file_content(css_dir("tailwind.css"))|safe }}</style>

    <script>
        {% if is_dev %}
        //htmx.logAll();
        {% endif %}

        htmx.onLoad(function(content) {
            //initFlowbite();
        });
    </script>
</head>

<body class="h-full max-h-full w-full max-w-full bg-slate-200 text-slate-900 dark:bg-slate-900 dark:text-slate-200">

<button data-drawer-target="main-menu-sidebar"
        data-drawer-toggle="main-menu-sidebar"
        aria-controls="main-menu-sidebar"
        type="button"
        class="fixed m-4 rounded-lg border border-sky-200 bg-white px-2 pb-1 text-sky-500 shadow dark:bg-sky-800 dark:border-sky-700 lg:hidden hover:bg-sky-100 focus:outline-none focus:ring-2 focus:ring-sky-200 dark:text-sky-400 dark:hover:bg-sky-700 dark:focus:ring-sky-600">
    <span class="sr-only">{{ i18t('open_sidebar') }}</span>
    <i class="text-3xl bi bi-list"></i>
</button>

<aside id="main-menu-sidebar"
       class="fixed top-0 left-0 z-40 h-screen w-64 -translate-x-full gap-5 transition-transform md:translate-x-0 h-full overflow-y-auto bg-gray-50 p-4 dark:bg-gray-800"
       aria-label="Sidebar">
    <div class="flex flex-row gap-4 items-center">
        <img src="/static/images/site/logo.png" alt="Logo" class="w-10">
        <h1 class="text-2xl font-bold text-gray-900 dark:text-white">{{ i18t('title') }}</h1>
    </div>

    <ul class="font-medium mt-4"
        id="main-menu"
        data-tabs-toggle="#main-menu-content"
        role="tablist"
    >
        {{ template(
            'components/menu_item',
            ele_id='upgrades',
            icon_id='bi-people',
            text_id='menu.upgrades'
        )|safe }}
        {{ template(
            'components/menu_item',
            ele_id='materials',
            icon_id='bi-bar-chart-steps',
            text_id='menu.materials'
        )|safe }}
        {{ template(
            'components/menu_item',
            ele_id='import_export',
            icon_id='bi-floppy',
            text_id='menu.import_export'
        )|safe }}
        {{ template(
            'components/menu_item',
            ele_id='settings',
            icon_id='bi-sliders2',
            text_id='menu.settings')|safe }}
        {{ template(
            'components/menu_item',
            ele_id='about',
            icon_id='bi-info-circle',
            text_id='menu.about'
        )|safe }}
    </ul>

    <button id="reload_app"
            type="button"
            class="btn btn-red mt-4 w-full"
            hx-post="/reload_app"
            hx-target="#reload_app"
            hx-swap="none"
            hx-on--after-request="location.reload(true)">
        <i class="bi bi-arrow-repeat"></i>
        {{ i18t('button.reload_app') }}
    </button>

    <button id="download_arknights_data"
            type="button"
            class="btn btn-red mt-4 w-full"
            hx-post="/download_arknights_data"
            hx-target="#download_arknights_data"
            hx-swap="none"
            hx-on--after-request="location.reload(true)">
        <i class="bi bi-arrow-repeat"></i>
        {{ i18t('button.download_arknights_data') }}
    </button>
</aside>

<div class="p-4 md:pt-4 md:ml-64">
    <div id="main-menu-content">
        <div class="hidden"
             id="upgrades"
             role="tabpanel"
             aria-labelledby="upgrades-tab"
        >
            {{ template('upgrades', characters_to_upgrade=upgrades, characters=characters)|safe }}
        </div>
        <div class="hidden"
             id="materials"
             role="tabpanel"
             aria-labelledby="materials-tab"
        >
        </div>
        <div class="hidden"
             id="import_export"
             role="tabpanel"
             aria-labelledby="import_export-tab"
        >
        </div>
        <div class="hidden"
             id="settings"
             role="tabpanel"
             aria-labelledby="settings-tab"
        >
        </div>
        <div class="hidden"
             id="about"
             role="tabpanel"
             aria-labelledby="about-tab"
        >
        </div>
    </div>
</div>

<script>{{ get_file_content(js_dir("events.js"))|safe }}</script>
<script>{{ get_file_content(js_dir("startup.js"))|safe }}</script>
</body>
</html>
