<div class="flex flex-col gap-4">
    <div class="grid grid-cols-1 gap-4 pl-16 md:pl-0">
        {% if is_dev %}
        <button type="button"
                class="flex grow btn btn-light"
                onclick="load_materials()"
        >
            <i class="bi bi-arrow-down-up pr-1"></i>
            {{ i18t('button.load_materials') }}
        </button>
        {% endif %}
    </div>

    {% for section in sections %}
    <div class="flex flex-row flex-wrap gap-4">
        {% for group_name, group in section.items() %}
        <div class="flex flex-col flex-wrap card-smp">
            <p>{{ i18t(group_name) }}</p>
            <div class="flex flex-row flex-nowrap gap-2">
                {% for material_name, material in group.items() %}
                {{ template(
                    'material',
                    material=material.material,
                    have=material.have,
                    need=material.need,
                    show_input=True
                )|safe}}
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
