<form class="flex flex-col card-smp w-full"
      data-character="{{ character.id }}"
      data-type="upgrade"
>
    <div class="flex flex-row gap-4">
        <div class="flex flex-col gap-2">
            <span class="w-auto max-w-36 min-w-16 font-bold">{{ character.get_name(language) }}</span>

            <img src="/static/images/avatars/{{ character.id }}.png"
                 title="{{ character.get_name(language) }}"
                 alt="{{ character.get_name(language) }}"
                 class="h-auto w-auto min-w-16 max-w-36"
                 loading="lazy"
            />

            <div class="flex flex-row flex-nowrap justify-center">
                <i class="bi bi-pencil icon-btn icon-btn-primary btn-smp btn-alternative2 btn-left"
                   hx-get="/upgrade/{{ character.id }}/form"
                   hx-target="closest form"
                   hx-swap="outerHTML"
                ></i>
                <i class="bi bi-boxes icon-btn {% if upgrades.materials %}icon-btn-green{% else %}icon-btn-red{% endif %} btn-smp btn-alternative2 btn-center"
                   hx-post="/upgrade/{{ character.id }}/toggle/materials"
                   hx-target="closest form"
                   hx-swap="outerHTML"
                ></i>
                <i class="bi bi-eye icon-btn {% if upgrades.enabled %}icon-btn-green{% else %}icon-btn-red{% endif %} btn-smp btn-alternative2 btn-center"
                   hx-post="/upgrade/{{ character.id }}/toggle/enabled"
                   hx-target="closest form"
                   hx-swap="outerHTML"
                ></i>
                <i class="bi bi-trash icon-btn icon-btn-red btn-smp btn-alternative2 btn-right"
                   hx-delete="/upgrade/{{ character.id }}"
                   hx-target="closest form"
                   hx-swap="outerHTML"
                   hx-on--before-request="remove_selection_from_character_list('{{ character.id }}')"
                   hx-on--after-request="load_materials()"
                ></i>
            </div>
        </div>

        <div class="flex flex-row flex-wrap gap-x-4 gap-y-2">
            <div class="flex flex-col">
                <span class="whitespace-nowrap text-nowrap">{{ i18t('label.main') }}:</span>
                <span class="text-nowrap whitespace-nowrap {% if not upgrades.level.is_enabled() %}text-rose-500{% endif %}">
                    {{ i18t('label.level') }}:
                    <span class="whitespace-nowrap">{{ upgrades.level }}</span>
                </span>
                <span class="text-nowrap whitespace-nowrap {% if not upgrades.all_skil_lvlup.is_enabled() %}text-rose-500{% endif %}">
                    {{ i18t('label.all_skills') }}:
                    <span class="whitespace-nowrap">{{ upgrades.all_skil_lvlup }}</span>
                </span>
            </div>

            {% if character.has_skills() %}
            <div class="flex flex-col">
                <span class="whitespace-nowrap text-nowrap">{{ i18t('label.skills') }}:</span>
                {% for sid, skill in character.get_skills().items() %}
                {% if sid in upgrades.skills %}
                <span class="{% if not upgrades.skills[sid].is_enabled() %}text-rose-500{% endif %}">
                    {{ skill.get_name(language) }}:
                    <span class="whitespace-nowrap">{{ upgrades.skills[sid] }}</span>
                </span>
                {% else %}
                <span class="whitespace-nowrap text-rose-500 text-nowrap">
                    {{ skill.get_name(language) }}:
                    <span class="whitespace-nowrap">0 -> 0</span>
                </span>
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% if character.has_modules() %}
            <div class="flex flex-col">
                <span class="whitespace-nowrap text-nowrap">{{ i18t('label.modules') }}:</span>
                {% for mid, module in character.get_modules().items() %}
                {% if mid in upgrades.modules %}
                <span class="{% if not upgrades.modules[mid].is_enabled() %}text-rose-500{% endif %}">
                    {{ module.get_name(language) }}:
                    <span class="whitespace-nowrap">{{ upgrades.modules[mid] }}</span>
                </span>
                {% else %}
                <span class="text-rose-500">
                    {{ module.get_name(language) }}:
                    <span class="whitespace-nowrap">0 -> 0</span></span>
                {% endif %} {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

    {% if upgrades.materials %}
    {{ template('components/hr')|safe }}

    <div class="flex flex-row flex-wrap place-content-evenly gap-1">
        {% for material_id, material_count in materials.items() %}
        {{ template(
            'material',
            material=arknights.materials[material_id],
            have=save.materials[material_id] if material_id in save.materials else 0,
            need=material_count,
            show_input=False
        )|safe}}
        {% endfor %}
    </div>
    {% endif %}
</form>
