<div class="flex flex-col gap-4">
    <div class="grid grid-cols-2 gap-4 pl-16 md:pl-0">
        {% if is_dev %}
        <button type="button"
                class="flex grow btn btn-light"
                onclick="load_upgrades()"
        >
            <i class="bi bi-arrow-down-up pr-1"></i>
            {{ i18t('button.load_characters') }}
        </button>
        {% endif %}
        <button id="characters-dropdown-button"
                class="flex grow justify-between gap-4 text-center btn btn-blue"
                type="button"
        >
            <span>
                <i class="bi bi-plus-circle pr-1"></i>
                <span>{{ i18t('button.add_character') }}</span>
            </span>
            <i class="bi bi-caret-down"></i>
        </button>
    </div>

    <div id="upgrades_characters" class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4">
        {% for character_to_upgrade in characters_to_upgrade %}
        {{ template(
            'upgrade',
            character=character_to_upgrade.character,
            upgrades=character_to_upgrade.upgrades,
            materials=character_to_upgrade.materials
        )|safe }}
        {% endfor %}
    </div>
</div>

{{ template('characters_dropdown', characters=characters)|safe }}

<script>
    initFlowbiteDropdownMenu('characters-dropdown', 'characters-dropdown-button');
</script>