<div class="flex items-center" id="{{ checkbox_id }}-container">
    <input id="{{ radio_id }}"
           type="radio"
           value="{{ radio_value }}"
           name="{{ radio_name }}"
           class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
           {% if props %}
           {% for key, value in props.items() %}
                {{ key }}="{{ value }}"
           {% endfor %}
           {% endif %}
           {% if checked %}checked{% endif %}
           {% if required %}required{% endif %}
           {% if readonly %}readonly{% endif %}
           {% if disabled %}disabled{% endif %}
    >
    <div class="ms-2 text-sm">
        <label for="{{ radio_id }}"
               class="font-medium text-gray-900 dark:text-gray-300">
            {{ label }}
        </label>
        {% if len(tooltip) > 0 %}
        <p id="{{ radio_id }}-tooltip" class="text-xs text-gray-500 dark:text-gray-400">
            {{ tooltip }}
        </p>
        {% endif %}
    </div>
</div>
